# Generate with: openssl rand -hex 32
ADMIN_MASTER_KEY=
ADMIN_PUBLIC_ORIGIN=https://admin.blog.reaier.top
BLOG_SITE_ORIGIN=https://blog.reaier.top
ADMIN_HOST=127.0.0.1
ADMIN_PORT=4310
BLOG_CONTENT_ROOT=/var/lib/aier-blog/content
BLOG_ADMIN_DATA_ROOT=/var/lib/aier-blog
BLOG_PUBLISH_REQUEST_ROOT=/var/lib/aier-blog/publish-requests

# Upload ceilings may be lowered but should not be raised without reviewing Nginx and disk limits.
BLOG_MAX_MARKDOWN_BYTES=2097152
BLOG_MAX_CLIP_BYTES=5242880
BLOG_MAX_IMAGE_BYTES=12582912
